*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    padding-top: 51px;
    background: url(Resource/developer.png) , url(Resource/header_bg.png),#FFF8F3;
    background-position: 36px -73px, bottom right;
    background-repeat: no-repeat;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    font-weight: 500;
    align-items: center;
    
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
    
}

.btn{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    /* font-weight: bold; */
    padding: 15px 30px;
    border-radius: 5px;
    border: none  
}
.btn:hover{
    background-color: white;
    color: black;
    border: 2px solid #FD6E0A;
    transition: 0.5s ease-in-out;
    transform: translateX(3px);
}
#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 39px 38px 0px 230px;
}
.banner-content{
    max-width: 585px ;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    font-weight: 500;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 80px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 10px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 25px;
    margin-bottom: 30px;
}
#banner .banner-img img{
    max-width: 450px;
}
#about,#skills,#resume {
    padding-top: 124px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff5ecdc;;
    padding: 125px 142px;
    border-radius: 30px;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
#about .section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
#about .section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
#about .section-info{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.section-info .info-card h4{
    font-size: 20px;
    color: #757575;
    line-height: 30px;

}
.section-info .info-card h3{
    font-size: 20px;
    color: #474747;
    font-weight: bold;
}
/* #skills{
    padding-top: 130px;
} */
#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .section-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
#skills .section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 50px;
}
#skills .skill-box{
    display: flex;
    gap: 24px;
}
.skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px rgba(128, 128, 128, 0.301);
    transition: 1s ease-in-out;
}
.skill-card:hover{
    transform: scale(1.1);
    
    border-top: 1px dotted red;
    border-bottom: 1px dotted red;
    border-right: 1px dotted red;
    border-radius: 20px 20px;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}
.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

#resume .section-heading{
    font-size: 25px;
}
.resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap:71px ;
}
.section-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}
.resume-card{
    box-shadow: 2px 5px 15px rgba(128, 128, 128, 0.301);
    padding: 10px;
    transition: 1s;
}
.resume-card:hover{
    transform: translateY(-13px);
    
}
.resume-card h3{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.resume-card h4{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.resume-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 25px;
}
.resume-container hr{
    margin: 30px 0;
}
.text-center{
    text-align: center;
}
footer{
    margin-top: 130px;
    background-color: #fcece1;
    padding: 130px 0
}
.footer-container{
    width: 71%;
    max-width: 1140px;
    display: flex;
    align-items: center;
    
    margin: 0 auto;
    gap: 117px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 22px;
}
.footer-container .social p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}
.footer-container .icons a{
    margin-right: 24px;
    
}
.footer-container .icons img{
transition: 1s;
}
.footer-container .icons img:hover{
    transform: scale(1.3)
}
.footer-container .form{
    box-shadow: 2px 5px 10px rgba(128, 128, 128, 0.301);
    padding: 25px;
}

.footer-container form input{
    width: 461px;
    padding: 18px 30px;
    margin-bottom:24px ;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    color: #757575;
}
.footer-container form textarea{
    width: 461px;
    padding: 18px 30px;
    margin-bottom:24px ;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #757575;
    outline: none;
}
